<h1>Cocktails#index</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
  <li><%= cocktail.name %>  <%= link_to 'Show details', cocktail_path(cocktail) %></li>
  <% end %>
</ul>

<p>
<%= link_to 'New cocktail', new_cocktail_path %>
</p>
